*~
*.o
*.obj
*.err
*.out
*.com
*.elf
*.coff
*.c.[0-9]*
*.nasm.[0-9]*
/un[0-9].c
/luuzcat
/luuzcat.mini
/luuzcat.exe
/luuzcat[0-9a-z].exe
/luuzcat.*.exe
/luuzcatc.com
/luuzcatc.com.[0-9]*
/kvikdos
/*.try/
/uncompact.c.orig
/pcatd
/pcatd.c
/*_16.[nw]asm
/*_32.[nw]asm
*.qcow2
/freebsd.iso
/hello.img
/floppy.img
/transfer.img

# --- Test files.

*.bin
*.good
# SCO LZH test files.
/XFileMgro*
# SCO LZH compressed test files.
*.sz
# gzip compressed test files.
*.gz
# Compact compressed test files.
*.bin.C
# pack (old or new) compressed test files.
*.z
# 4.3BSD-Quasijarus strong compression compressed test files.
*.qz
# zlib compressed test files.
*.zlib
# Freeze compressed test files.
*.F
# (n)compress compressed test files.
*.Z
# ZIP compressed test files.
*.zip
# Raw Deflate compressed test files.
*.deflate

