*~
*.o
*.obj
*.err
*.out
*.com
*.c.[0-9]*
/luuzcat
/luuzcat.mini
/luuzcat.exe
/luuzcat.*.exe
/luuzcatc.com
/kvikdos
/*.try/
/uncompact.c.orig
/pcatd
/pcatd.c

# --- Test files.

*.bin
*.good
# SCO LZH test files.
/XFileMgro*
# SCO LZH compressed test files.
*.sz
# gzip compressed test files.
*.gz
# Compact compressed test files.
*.bin.C
# pack (old or new) compressed test files.
*.z
# 4.3BSD-Quasijarus strong compression compressed test files.
*.qz
# zlib compressed test files.
*.zlib
# Freeze compressed test files.
*.F
# (n)compress compressed test files.
*.Z

